<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ensibs.omeca"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />
    
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	
	<uses-feature android:name="android.hardware.touchscreen.multitouch"
               android:required="true" />
	<uses-feature android:name="android.hardware.wifi.direct"
               android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:name="com.ensibs.omeca.OmecaApplication"
        android:killAfterRestore="true" >
        
        <activity
            android:name="com.ensibs.omeca.MainActivity"
            android:label="@string/app_name"
        	android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

		<activity
            android:name="com.ensibs.omeca.GameActivity"
            android:screenOrientation="landscape" 
    		android:configChanges="orientation|screenSize"
            >
        </activity>

		<activity
            android:name="com.ensibs.omeca.AvatarActivity"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>
